# 데이터 전송

데이터가 json 형태로 전송되고있다고 가정 (01_data_making 에서 진행)

스트리밍으로 전송된 데이터는 Kinesis 스트림에서 그리고 kinesis 파이어호스로 전송

파이어호스에서 json형식을 parquet형식으로 변환 후 s3에 저장한다.

# 키네시스 스트림 생성 및 삭제

In [2]:
import threading, sys, pandas, json, time
from boto import kinesis

sys.path.append("../lib") # 기준은 현재 커서의 위치
import sample_kinesis_wordputter as kinesis_kustom # kinesis stream 관련 오픈소스 코드

# 키네시스 이름
stream_name = 'datastream_1'
# 지역 설정
conn = kinesis.connect_to_region(region_name = 'ap-northeast-2')

def put_rows_in_kinesis(w): # w : 전송할 json형 데이터
    try: 
        conn.put_record(stream_name, w,"partitionkey") # 3번째 매개변수를 이것처럼 수정해야됨.#
        print("전송한 데이터: " + stream_name)
    except Exception as e:
        sys.stderr.write("예외: "
                         + w + " Stream 이름: " + stream_name + " 원인: " + str(e))

# 키네시스 스트림 생성.
def start_kinesis():
    try:
        status = kinesis_kustom.get_stream_status(conn, stream_name)
        if 'DELETING' == status:
            print('Stream 이름 {s} 은 삭제 중..'.format(s=stream_name))
            sys.exit(1)
        elif 'ACTIVE' != status:
            kinesis_kustom.wait_for_stream(conn, stream_name)
    except:
        conn.create_stream(stream_name, 1)
        kinesis_kustom.wait_for_stream(conn, stream_name)

start_kinesis()

In [50]:
# 아래 코드로도 간단하게 kinesis 생성 가능
!aws kinesis create-stream --stream-name=datastream_1 --shard-count=1

An error occurred (ResourceInUseException) when calling the CreateStream operation: Stream datastream_1 under account 848045215644 already exists.

In [1]:
!aws kinesis delete-stream --stream-name datastream_1

An error occurred (ResourceNotFoundException) when calling the DeleteStream operation: Stream datastream_1 under account 848045215644 not found.

# 파이어호스 생성 및 삭제

In [64]:
# https://github.com/aws/aws-cli/issues/2528 참고한 사이트
!aws firehose create-delivery-stream --region=ap-northeast-2 --cli-input-json file://../data/firehose_cli_parameter.json

{
    "DeliveryStreamARN": "arn:aws:firehose:ap-northeast-2:848045215644:deliverystream/test_jang"
}

In [65]:
!aws firehose delete-delivery-stream --region=ap-northeast-2 --delivery-stream-name test_jang

# 전송 할 데이터 읽기

In [3]:
# utils는 json 또는 jsonl 파일을 읽고 쓰는 유틸리티 함수
sys.path.append("../lib")
import utils

rawdata_type_jsonl = utils.read_json_lines_file("../data/Raw_Data.jsonl")

진행도: 200000

# 데이터 키네시스 스트림으로 전송

In [10]:
# 키네시스로 데이터 전송(10개만..)
break_num = 1
for n in rawdata_type_jsonl:    
    put_rows_in_kinesis(json.dumps(n))

    print(n,'\n')
    if break_num > 10:
        break
    break_num+=1
    
    time.sleep(1)

전송한 데이터: datastream_1
{'Year': '2015', 'Quarter': '1', 'Month': '1', 'DayofMonth': '1', 'DayOfWeek': '4', 'FlightDate': '2015-01-01', 'Carrier': 'AA', 'TailNum': 'N001AA', 'FlightNum': '1519', 'Origin': 'DFW', 'OriginCityName': 'Dallas/Fort Worth, TX', 'OriginState': 'TX', 'Dest': 'MEM', 'DestCityName': 'Memphis, TN', 'DestState': 'TN', 'DepTime': '1342', 'DepDelay': -3.0, 'DepDelayMinutes': 0, 'TaxiOut': 16.0, 'TaxiIn': 7.0, 'WheelsOff': '1358', 'WheelsOn': '1457', 'ArrTime': '1504', 'ArrDelay': -6.0, 'ArrDelayMinutes': 0.0, 'Cancelled': 0, 'Diverted': 0, 'ActualElapsedTime': 82.0, 'AirTime': 59.0, 'Flights': 1, 'Distance': 432.0, 'CRSDepTime': '1345', 'CRSArrTime': '1510'}

전송한 데이터: datastream_1
{'Year': '2015', 'Quarter': '1', 'Month': '1', 'DayofMonth': '1', 'DayOfWeek': '4', 'FlightDate': '2015-01-01', 'Carrier': 'AA', 'TailNum': 'N001AA', 'FlightNum': '1519', 'Origin': 'MEM', 'OriginCityName': 'Memphis, TN', 'OriginState': 'TN', 'Dest': 'DFW', 'DestCityName': 'Dallas/Fort Worth, TX', 'DestState': 'TX', 'DepTime': '1546', 'DepDelay': -4.0, 'DepDelayMinutes': 0, 'TaxiOut': 9.0, 'TaxiIn': 9.0, 'WheelsOff': '1555', 'WheelsOn': '1712', 'ArrTime': '1721', 'ArrDelay': -9.0, 'ArrDelayMinutes': 0.0, 'Cancelled': 0, 'Diverted': 0, 'ActualElapsedTime': 95.0, 'AirTime': 77.0, 'Flights': 1, 'Distance': 432.0, 'CRSDepTime': '1550', 'CRSArrTime': '1730'}

전송한 데이터: datastream_1
{'Year': '2015', 'Quarter': '1', 'Month': '1', 'DayofMonth': '1', 'DayOfWeek': '4', 'FlightDate': '2015-01-01', 'Carrier': 'AA', 'TailNum': 'N002AA', 'FlightNum': '2349', 'Origin': 'ORD', 'OriginCityName': 'Chicago, IL', 'OriginState': 'IL', 'Dest': 'DFW', 'DestCityName': 'Dallas/Fort Worth, TX', 'DestState': 'TX', 'DepTime': '1845', 'DepDelay': 0.0, 'DepDelayMinutes': 0, 'TaxiOut': 31.0, 'TaxiIn': 16.0, 'WheelsOff': '1916', 'WheelsOn': '2125', 'ArrTime': '2141', 'ArrDelay': 26.0, 'ArrDelayMinutes': 26.0, 'Cancelled': 0, 'Diverted': 0, 'ActualElapsedTime': 176.0, 'AirTime': 129.0, 'Flights': 1, 'Distance': 802.0, 'CarrierDelay': 0.0, 'WeatherDelay': 0.0, 'NASDelay': 26.0, 'SecurityDelay': 0.0, 'LateAircraftDelay': 0.0, 'CRSDepTime': '1845', 'CRSArrTime': '2115'}

전송한 데이터: datastream_1
{'Year': '2015', 'Quarter': '1', 'Month': '1', 'DayofMonth': '1', 'DayOfWeek': '4', 'FlightDate': '2015-01-01', 'Carrier': 'AA', 'TailNum': 'N003AA', 'FlightNum': '1298', 'Origin': 'DFW', 'OriginCityName': 'Dallas/Fort Worth, TX', 'OriginState': 'TX', 'Dest': 'ATL', 'DestCityName': 'Atlanta, GA', 'DestState': 'GA', 'DepTime': '2000', 'DepDelay': 100.0, 'DepDelayMinutes': 100, 'TaxiOut': 33.0, 'TaxiIn': 6.0, 'WheelsOff': '2033', 'WheelsOn': '2306', 'ArrTime': '2312', 'ArrDelay': 112.0, 'ArrDelayMinutes': 112.0, 'Cancelled': 0, 'Diverted': 0, 'ActualElapsedTime': 132.0, 'AirTime': 93.0, 'Flights': 1, 'Distance': 731.0, 'CarrierDelay': 19.0, 'WeatherDelay': 0.0, 'NASDelay': 12.0, 'SecurityDelay': 0.0, 'LateAircraftDelay': 81.0, 'CRSDepTime': '1820', 'CRSArrTime': '2120'}

전송한 데이터: datastream_1
{'Year': '2015', 'Quarter': '1', 'Month': '1', 'DayofMonth': '1', 'DayOfWeek': '4', 'FlightDate': '2015-01-01', 'Carrier': 'AA', 'TailNum': 'N003AA', 'FlightNum': '1422', 'Origin': 'DFW', 'OriginCityName': 'Dallas/Fort Worth, TX', 'OriginState': 'TX', 'Dest': 'HDN', 'DestCityName': 'Hayden, CO', 'DestState': 'CO', 'DepTime': '0918', 'DepDelay': 78.0, 'DepDelayMinutes': 78, 'TaxiOut': 30.0, 'TaxiIn': 4.0, 'WheelsOff': '0948', 'WheelsOn': '1039', 'ArrTime': '1043', 'ArrDelay': 78.0, 'ArrDelayMinutes': 78.0, 'Cancelled': 0, 'Diverted': 0, 'ActualElapsedTime': 145.0, 'AirTime': 111.0, 'Flights': 1, 'Distance': 769.0, 'CarrierDelay': 78.0, 'WeatherDelay': 0.0, 'NASDelay': 0.0, 'SecurityDelay': 0.0, 'LateAircraftDelay': 0.0, 'CRSDepTime': '0800', 'CRSArrTime': '0925'}

전송한 데이터: datastream_1
{'Year': '2015', 'Quarter': '1', 'Month': '1', 'DayofMonth': '1', 'DayOfWeek': '4', 'FlightDate': '2015-01-01', 'Carrier': 'AA', 'TailNum': 'N003AA', 'FlightNum': '1422', 'Origin': 'HDN', 'OriginCityName': 'Hayden, CO', 'OriginState': 'CO', 'Dest': 'DFW', 'DestCityName': 'Dallas/Fort Worth, TX', 'DestState': 'TX', 'DepTime': '1537', 'DepDelay': 332.0, 'DepDelayMinutes': 332, 'TaxiOut': 16.0, 'TaxiIn': 15.0, 'WheelsOff': '1553', 'WheelsOn': '1841', 'ArrTime': '1856', 'ArrDelay': 336.0, 'ArrDelayMinutes': 336.0, 'Cancelled': 0, 'Diverted': 0, 'ActualElapsedTime': 139.0, 'AirTime': 108.0, 'Flights': 1, 'Distance': 769.0, 'CarrierDelay': 254.0, 'WeatherDelay': 0.0, 'NASDelay': 4.0, 'SecurityDelay': 0.0, 'LateAircraftDelay': 78.0, 'CRSDepTime': '1005', 'CRSArrTime': '1320'}

전송한 데이터: datastream_1
{'Year': '2015', 'Quarter': '1', 'Month': '1', 'DayofMonth': '1', 'DayOfWeek': '4', 'FlightDate': '2015-01-01', 'Carrier': 'AA', 'TailNum': 'N004AA', 'FlightNum': '2287', 'Origin': 'JAC', 'OriginCityName': 'Jackson, WY', 'OriginState': 'WY', 'Dest': 'DFW', 'DestCityName': 'Dallas/Fort Worth, TX', 'DestState': 'TX', 'DepTime': '0756', 'DepDelay': -4.0, 'DepDelayMinutes': 0, 'TaxiOut': 49.0, 'TaxiIn': 10.0, 'WheelsOff': '0845', 'WheelsOn': '1211', 'ArrTime': '1221', 'ArrDelay': 21.0, 'ArrDelayMinutes': 21.0, 'Cancelled': 0, 'Diverted': 0, 'ActualElapsedTime': 205.0, 'AirTime': 146.0, 'Flights': 1, 'Distance': 1047.0, 'CarrierDelay': 0.0, 'WeatherDelay': 0.0, 'NASDelay': 21.0, 'SecurityDelay': 0.0, 'LateAircraftDelay': 0.0, 'CRSDepTime': '0800', 'CRSArrTime': '1200'}

전송한 데이터: datastream_1
{'Year': '2015', 'Quarter': '1', 'Month': '1', 'DayofMonth': '1', 'DayOfWeek': '4', 'FlightDate': '2015-01-01', 'Carrier': 'AA', 'TailNum': 'N005AA', 'FlightNum': '1080', 'Origin': 'EGE', 'OriginCityName': 'Eagle, CO', 'OriginState': 'CO', 'Dest': 'ORD', 'DestCityName': 'Chicago, IL', 'DestState': 'IL', 'Cancelled': 1, 'Diverted': 0, 'Flights': 1, 'Distance': 1007.0, 'CRSDepTime': '1415', 'CRSArrTime': '1755'}

전송한 데이터: datastream_1
{'Year': '2015', 'Quarter': '1', 'Month': '1', 'DayofMonth': '1', 'DayOfWeek': '4', 'FlightDate': '2015-01-01', 'Carrier': 'AA', 'TailNum': 'N005AA', 'FlightNum': '1080', 'Origin': 'ORD', 'OriginCityName': 'Chicago, IL', 'OriginState': 'IL', 'Dest': 'EGE', 'DestCityName': 'Eagle, CO', 'DestState': 'CO', 'Cancelled': 1, 'Diverted': 0, 'Flights': 1, 'Distance': 1007.0, 'CRSDepTime': '1145', 'CRSArrTime': '1335'}

전송한 데이터: datastream_1
{'Year': '2015', 'Quarter': '1', 'Month': '1', 'DayofMonth': '1', 'DayOfWeek': '4', 'FlightDate': '2015-01-01', 'Carrier': 'AA', 'TailNum': 'N005AA', 'FlightNum': '2332', 'Origin': 'DFW', 'OriginCityName': 'Dallas/Fort Worth, TX', 'OriginState': 'TX', 'Dest': 'ORD', 'DestCityName': 'Chicago, IL', 'DestState': 'IL', 'Cancelled': 1, 'Diverted': 0, 'Flights': 1, 'Distance': 802.0, 'CRSDepTime': '0740', 'CRSArrTime': '0955'}

전송한 데이터: datastream_1
{'Year': '2015', 'Quarter': '1', 'Month': '1', 'DayofMonth': '1', 'DayOfWeek': '4', 'FlightDate': '2015-01-01', 'Carrier': 'AA', 'TailNum': 'N006AA', 'FlightNum': '194', 'Origin': 'DFW', 'OriginCityName': 'Dallas/Fort Worth, TX', 'OriginState': 'TX', 'Dest': 'ATL', 'DestCityName': 'Atlanta, GA', 'DestState': 'GA', 'Cancelled': 1, 'Diverted': 0, 'Flights': 1, 'Distance': 731.0, 'CRSDepTime': '1150', 'CRSArrTime': '1445'}

# 키네시스 스트림에 전송된 데이터 확인

In [5]:
# 키네시스 스트림에 데이터가 전송 되었는지 확인 (python3 콘솔에 복붙해서 실행)
import json
from boto import kinesis
import time

kinesis = kinesis.connect_to_region('ap-northeast-2')
shard_it = kinesis.get_shard_iterator('datastream_1', 'shardId-000000000000', 'LATEST')['ShardIterator']

while True:
    out = kinesis.get_records(shard_it, limit=2)
    print(out['Records'])
    shard_it = out['NextShardIterator']
    time.sleep(5)

[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]

KeyboardInterrupt:

# s3에 저장된 데이터 확인

우선 키네시스 파이어호스를 생성해야 된다. 

생성은 웹 UI로 했다.

In [11]:
# s3에서 firehose를 통해 parquet로 저장된 데이터 가져오기
#!aws s3 cp s3://jhw620/2019/07/11/02 ../data/ --recursive
!aws s3 cp s3://jhw620/2022/07/11/08/ ../data/ --recursive

download: s3://jhw620/2022/07/11/08/KDS-S3-0PXzw-2-2022-07-11-08-22-06-2dfea19f-9798-46a4-b2d1-1624eee5452f.parquet to ../data/KDS-S3-0PXzw-2-2022-07-11-08-22-06-2dfea19f-9798-46a4-b2d1-1624eee5452f.parquet

In [8]:
# 옛날 꺼
try:
  sc and spark
except NameError as e:
  import findspark
  findspark.init()
  import pyspark
  import pyspark.sql

  sc = pyspark.SparkContext()
  spark = pyspark.sql.SparkSession(sc).builder.getOrCreate()

# 저장된 파퀘이 데이터를 읽어온다.
on_time_dataframe = spark.read.parquet('../data/firehose_stream-1-2019-07-11-02-10-46-4139e534-1f12-4fe3-8f55-c9b9df8a31ec.parquet')
on_time_dataframe.show(3)

+----+-------+-----+----------+---------+----------+-------+-------+---------+------+--------------------+-----------+----+--------------------+---------+-------+--------+---------------+-------+------+---------+--------+-------+--------+---------------+---------+--------+-----------------+-------+-------+--------+----------+----------+------------+------------+--------+-------------+-----------------+
|year|quarter|month|dayofmonth|dayofweek|flightdate|carrier|tailnum|flightnum|origin|      origincityname|originstate|dest|        destcityname|deststate|deptime|depdelay|depdelayminutes|taxiout|taxiin|wheelsoff|wheelson|arrtime|arrdelay|arrdelayminutes|cancelled|diverted|actualelapsedtime|airtime|flights|distance|crsdeptime|crsarrtime|carrierdelay|weatherdelay|nasdelay|securitydelay|lateaircraftdelay|
+----+-------+-----+----------+---------+----------+-------+-------+---------+------+--------------------+-----------+----+--------------------+---------+-------+--------+---------------+-------+------+---------+--------+-------+--------+---------------+---------+--------+-----------------+-------+-------+--------+----------+----------+------------+------------+--------+-------------+-----------------+
|2015|      1|    1|         1|        4|2015-01-01|     AA| N001AA|     1519|   DFW|Dallas/Fort Worth...|         TX| MEM|         Memphis, TN|       TN|   1342|    -3.0|              0|   16.0|   7.0|     1358|    1457|   1504|    -6.0|            0.0|        0|       0|             82.0|   59.0|      1|   432.0|      1345|      1510|        null|        null|    null|         null|             null|
|2015|      1|    1|         1|        4|2015-01-01|     AA| N001AA|     1519|   MEM|         Memphis, TN|         TN| DFW|Dallas/Fort Worth...|       TX|   1546|    -4.0|              0|    9.0|   9.0|     1555|    1712|   1721|    -9.0|            0.0|        0|       0|             95.0|   77.0|      1|   432.0|      1550|      1730|        null|        null|    null|         null|             null|
|2015|      1|    1|         1|        4|2015-01-01|     AA| N002AA|     2349|   ORD|         Chicago, IL|         IL| DFW|Dallas/Fort Worth...|       TX|   1845|     0.0|              0|   31.0|  16.0|     1916|    2125|   2141|    26.0|           26.0|        0|       0|            176.0|  129.0|      1|   802.0|      1845|      2115|         0.0|         0.0|    26.0|          0.0|              0.0|
+----+-------+-----+----------+---------+----------+-------+-------+---------+------+--------------------+-----------+----+--------------------+---------+-------+--------+---------------+-------+------+---------+--------+-------+--------+---------------+---------+--------+-----------------+-------+-------+--------+----------+----------+------------+------------+--------+-------------+-----------------+
only showing top 3 rows

In [1]:
# 최근(220711) 에 실행한거
try:
  sc and spark
except NameError as e:
  import findspark
  findspark.init()
  import pyspark
  import pyspark.sql

  sc = pyspark.SparkContext()
  spark = pyspark.sql.SparkSession(sc).builder.getOrCreate()

# 저장된 파퀘이 데이터를 읽어온다.
on_time_dataframe = spark.read.parquet('../data/KDS-S3-0PXzw-2-2022-07-11-08-22-06-2dfea19f-9798-46a4-b2d1-1624eee5452f.parquet')
on_time_dataframe.show(3)

+----+-------+-----+----------+---------+----------+-------+-------+---------+------+--------------------+-----------+----+--------------------+---------+-------+--------+---------------+-------+------+---------+--------+-------+--------+---------------+---------+--------+-----------------+-------+-------+--------+----------+----------+------------+------------+--------+-------------+-----------------+
|year|quarter|month|dayofmonth|dayofweek|flightdate|carrier|tailnum|flightnum|origin|      origincityname|originstate|dest|        destcityname|deststate|deptime|depdelay|depdelayminutes|taxiout|taxiin|wheelsoff|wheelson|arrtime|arrdelay|arrdelayminutes|cancelled|diverted|actualelapsedtime|airtime|flights|distance|crsdeptime|crsarrtime|carrierdelay|weatherdelay|nasdelay|securitydelay|lateaircraftdelay|
+----+-------+-----+----------+---------+----------+-------+-------+---------+------+--------------------+-----------+----+--------------------+---------+-------+--------+---------------+-------+------+---------+--------+-------+--------+---------------+---------+--------+-----------------+-------+-------+--------+----------+----------+------------+------------+--------+-------------+-----------------+
|2015|      1|    1|         1|        4|2015-01-01|     AA| N001AA|     1519|   DFW|Dallas/Fort Worth...|         TX| MEM|         Memphis, TN|       TN|   1342|    -3.0|              0|   16.0|   7.0|     1358|    1457|   1504|    -6.0|            0.0|        0|       0|             82.0|   59.0|      1|   432.0|      1345|      1510|        null|        null|    null|         null|             null|
|2015|      1|    1|         1|        4|2015-01-01|     AA| N001AA|     1519|   MEM|         Memphis, TN|         TN| DFW|Dallas/Fort Worth...|       TX|   1546|    -4.0|              0|    9.0|   9.0|     1555|    1712|   1721|    -9.0|            0.0|        0|       0|             95.0|   77.0|      1|   432.0|      1550|      1730|        null|        null|    null|         null|             null|
|2015|      1|    1|         1|        4|2015-01-01|     AA| N002AA|     2349|   ORD|         Chicago, IL|         IL| DFW|Dallas/Fort Worth...|       TX|   1845|     0.0|              0|   31.0|  16.0|     1916|    2125|   2141|    26.0|           26.0|        0|       0|            176.0|  129.0|      1|   802.0|      1845|      2115|         0.0|         0.0|    26.0|          0.0|              0.0|
+----+-------+-----+----------+---------+----------+-------+-------+---------+------+--------------------+-----------+----+--------------------+---------+-------+--------+---------------+-------+------+---------+--------+-------+--------+---------------+---------+--------+-----------------+-------+-------+--------+----------+----------+------------+------------+--------+-------------+-----------------+
only showing top 3 rows

In [2]:
on_time_dataframe.limit(15).toPandas()

,year,quarter,month,dayofmonth,dayofweek,flightdate,carrier,tailnum,flightnum,origin,...,airtime,flights,distance,crsdeptime,crsarrtime,carrierdelay,weatherdelay,nasdelay,securitydelay,lateaircraftdelay
0,2015,1,1,1,4,2015-01-01,AA,N001AA,1519,DFW,...,59.0,1,432.0,1345,1510,NaN,NaN,NaN,NaN,NaN
1,2015,1,1,1,4,2015-01-01,AA,N001AA,1519,MEM,...,77.0,1,432.0,1550,1730,NaN,NaN,NaN,NaN,NaN
2,2015,1,1,1,4,2015-01-01,AA,N002AA,2349,ORD,...,129.0,1,802.0,1845,2115,0.0,0.0,26.0,0.0,0.0
3,2015,1,1,1,4,2015-01-01,AA,N003AA,1298,DFW,...,93.0,1,731.0,1820,2120,19.0,0.0,12.0,0.0,81.0
4,2015,1,1,1,4,2015-01-01,AA,N003AA,1422,DFW,...,111.0,1,769.0,0800,0925,78.0,0.0,0.0,0.0,0.0
5,2015,1,1,1,4,2015-01-01,AA,N003AA,1422,HDN,...,108.0,1,769.0,1005,1320,254.0,0.0,4.0,0.0,78.0
6,2015,1,1,1,4,2015-01-01,AA,N004AA,2287,JAC,...,146.0,1,1047.0,0800,1200,0.0,0.0,21.0,0.0,0.0
7,2015,1,1,1,4,2015-01-01,AA,N005AA,1080,EGE,...,NaN,1,1007.0,1415,1755,NaN,NaN,NaN,NaN,NaN
8,2015,1,1,1,4,2015-01-01,AA,N005AA,1080,ORD,...,NaN,1,1007.0,1145,1335,NaN,NaN,NaN,NaN,NaN
9,2015,1,1,1,4,2015-01-01,AA,N005AA,2332,DFW,...,NaN,1,802.0,0740,0955,NaN,NaN,NaN,NaN,NaN
10,2015,1,1,1,4,2015-01-01,AA,N006AA,194,DFW,...,NaN,1,731.0,1150,1445,NaN,NaN,NaN,NaN,NaN